<th:block th:fragment="menu" xmlns:th="http://www.thymeleaf.org">

    <div class="card">
        <div class="card-header bg-primary">e-Signature</div>
        <div class="list-group list-group-flush">
            <a th:href="@{/signature-rest}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/signature-rest' ? 'active' : ''}" th:text="#{label.rest.soap.services}">REST/SOAP WebServices</a>
        </div>
    </div>
    
    <div class="card mt-3">
        <div class="card-header bg-primary">Server side</div>
        <div class="list-group list-group-flush">
            <a th:href="@{/validation}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/validation' ? 'active' : ''}" th:text="#{label.validate}">Signature Validation</a>
            <a th:href="@{/tl-info}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/tl-info' ? 'active' : ''}" th:text="#{label.tsls}">Trusted lists</a>
      		<a th:href="@{/oj-certificates}" class="list-group-item" th:classappend="${#httpServletRequest.getRequestURI() == '/oj-certificates' ? 'active' : ''}" th:title="#{label.eu.oj.certificates.page}" th:text="#{label.eu.oj.certificates}"></a>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header bg-primary">Useful links</div>
        <div class="list-group list-group-flush d-print-none">
            <a href="https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/eSignature" class="list-group-item" target="_blank">CEF Digital</a>
            <a href="https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/Newsletter+Subscription" class="list-group-item" target="_blank">CEF Newsletter</a>
            <a href="https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/eSignature+FAQ" class="list-group-item" target="_blank">eSignature FAQ</a>
            <a href="https://ec.europa.eu/tools/lotl/pivot-lotl-explanation.html" class="list-group-item" target="_blank">Pivot LOTL explanation</a>
            <a href="https://github.com/esig/" class="list-group-item" title="GitHub - Source code" target="_blank">GitHub source code</a>
            <a href="https://ec.europa.eu/cefdigital/code/projects/ESIG/" class="list-group-item" title="Bitbucket - Source code" target="_blank">Bitbucket source code</a>
            <a href="https://ec.europa.eu/cefdigital/tracker/projects/DSS/issues" class="list-group-item" title="Jira - Issue tracker" target="_blank">Report a bug</a>
            <a href="https://esig-dss.atlassian.net/projects/DSS" class="list-group-item" title="Jira - old" target="_blank">Old Jira</a>
            <a href="https://esignature.ec.europa.eu/efda/home/" class="list-group-item" target="_blank">Trust Services Dashboard</a>
            <a href="https://esignature.ec.europa.eu/efda/validation-tests/" class="list-group-item" target="_blank">eSignature validation test cases</a>
            <a href="https://ec.europa.eu/cefdigital/wiki/display/TLSO/Trusted+List+Manager+non-EU" class="list-group-item" target="_blank">TL Manager non EU</a>
        </div>
    </div>
</th:block>